.inputPag{
        text-align: center;
        margin: 10px;
        padding: 10px;
        border : transparent;
        border-radius: 7px;
        width: 50px;
        height: 4vh;
    
}

.paginacion {
       text-align: center;
}